body{
    font-family: Arial, Helvetica, sans-serif;
}

main{
    margin: 20px;
    margin-top: 100px;
}

.banner{
    border: solid;
}

h1,
h2{
    font-size: 32px;
    line-height: 1.3;
    font-weight: bold;
}

h3{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}


p{
    margin-top: 10px;
    margin-bottom: 10px;
    word-spacing: 2px;
    line-height: 1.3;
}

.menu {
    border: solid;
    position: fixed;
    width: 100%;
    /* cuando usamos possition activamos 5 propiedades para poder manipular este elemento dentro de nuestr body
    top, left, buttom, right, z-index*/
    top: 0;
    background-color: #ffffff;
}

.menu > ul{
    display: flex;
    gap: 20px;
    padding: 20px;
}

.menu > ul > li > a {
    text-decoration: none;
    color:#000;

}

.menu > ul > li a:hover{
    text-decoration: underline;
    background-color: red;
    color:#ffffff;
}
.text-blue{
    color: rgb(51, 25, 201);
}

.resumen {
    margin-top: 20px;
}

.educacion {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-bottom: 20px;
}

.educacion > li{
    border: solid;
    padding: 10px;
    border-radius: 22px;
}


.experience-container {
    margin-top: 20px;
  }
  
  .work-container {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .work-title {
    font-weight: bold;
  }
  
  .work-company {
    font-weight: 400;
  }
  
  .work-date {
    font-size: 13px;
    color: gray;
  }
  
  .section {
    display: flex;
    flex-wrap: wrap;
  }
  
  .section > p {
    width: 120px;
    height: 120px;
    border: red solid;
  }
  .logros {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-bottom: 20px;
}

.logros > li{
    border: solid;
    padding: 10px;
    border-radius: 22px;
}